/vendor/
/logs/*
!/logs/README.md
/templates/cache/*
!/templates/cache/README.md
.DS_STORE

.idea/*

propel/build.properties
propel/runtime-conf.xml
propel/generated-conf/config.php

public/assets/img/files/profile_img/*

propel/runtime-conf.php
propel/build.properties.php

public/uploads/*
logs/*

propel/generated-conf/*