{% extends 'index-layout.twig' %}
{% block content %}
    <div id="main-container">
    <div class="panel panel-default">
        <form class="form-horizontal no-margin form-border" id="formWizard1" novalidate action="/addUser" method="post">
            <div class="panel-heading">
                Add a user
            </div>
            <div class="panel-tab">
                <ul class="wizard-steps wizard-demo" id="wizardDemo1">
                    <li class="active">
                        <a href="#wizardContent1" data-toggle="tab">Step 1</a>
                    </li>
                    <li>
                        <a href="#wizardContent2" data-toggle="tab">Step 2</a>
                    </li>
                    <li>
                        <a href="#wizardContent3" data-toggle="tab">Step 3</a>
                    </li>

                </ul>
            </div>

            <div class="panel-body">
                <div class="tab-content">

                        <div class="tab-pane fade in active" id="wizardContent1">
                            <div class="form-group">
                                <label class="control-label col-lg-2">Username</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Enter username" class="form-control input-sm" data-required="true" name="username">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label class="control-label col-lg-2">Password</label>
                                <div class="col-lg-6">
                                    <input type="password" placeholder="Type password" class="form-control input-sm" data-required="true" name="password">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label class="control-label col-lg-2">Email</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="test@example.com" data-required="true" data-type="email" name="email">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </div>

                        <div class="tab-pane fade" id="wizardContent2">
                            <div class="form-group">
                                <label class="control-label col-lg-2">First name</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Type user's first name" data-required="false" name="firstName" >
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Last name</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Type user's last name" data-required="false" name="lastName" >
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Gender</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Birth date</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Phone</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Type user's phone number" data-required="false" data-type="phone" name="phone">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Mobile</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Type user's mobile number" data-required="false" name="mobile" >
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Company</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Street</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Street-2</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">City</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">State</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Post code</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Country</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Street</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Street-2</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">City</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">State</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Post code</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Country</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Enter company name" data-required="false" name="companyName">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->
                        </div>

                        <div class="tab-pane fade" id="wizardContent3">
                            done
                        </div>


                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-left">
                    <button class="btn btn-success btn-sm disabled" id="prevStep1" disabled>Previous</button>
                    <button type="submit" class="btn btn-sm btn-success" id="nextStep1">Next</button>
                    <button type="submit" class="btn btn-sm btn-success" id="submit" style="display: none">Submit</button>
                </div>

                <div class="pull-right" style="width:25%">
                    <div class="progress progress-striped active m-top-sm m-bottom-none">
                        <div class="progress-bar progress-bar-success" id="wizardProgress" style="widows: 25;%;">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /panel -->

    </div><!-- /main-container -->

{% endblock %}
{% block csstop %}
    <style>
        #enable{
            display:inline;
        }
    </style>

{% endblock %}

{% block jsbottom %}
    <!-- Parsley -->
    <script src="/assets/js/parsley.min.js"></script>

    <!-- Popup Overlay -->
    <script src='/assets/js/jquery.popupoverlay.min.js'></script>

    <!-- Endless -->
    <script src="/assets/js/endless/endless_wizard.js"></script>

{% endblock %}