{% extends 'index-layout.twig' %}
{% block content %}
    <div id="main-container">
        <div class="panel panel-default">
            <h3 class="headline m-top-md" style="padding-left: 15px">
                Add a user
            </h3>
            <form class="form-horizontal no-margin form-border"  action="/addUser" method="post">

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="wizardContent1">

                            <div class="form-group">
                                <label class="control-label col-lg-2">Username</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Enter username" class="form-control input-sm" data-required="true" name="username">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Email</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="test@example.com" data-required="true" data-type="email" name="email">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->


                            <div class="form-group">
                                <label class="control-label col-lg-2">Password</label>
                                <div class="col-lg-6">
                                    <input type="password" placeholder="Type password" class="form-control input-sm" data-required="true" name="password">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label class="control-label col-lg-2">Confirm password</label>
                                <div class="col-lg-6">
                                    <input type="password" placeholder="Re-type password" class="form-control input-sm" data-required="true" name="confirm_password">
                                </div><!-- /.col -->
                            </div><!-- /form-group -->


                            <div class="controls panel-footer text-right col-lg-8">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div><!-- /panel -->

    </div><!-- /main-container -->

{% endblock %}
{% block csstop %}
    <style>
        #enable{
            display:inline;
        }
    </style>

{% endblock %}

{% block jsbottom %}


{% endblock %}