{% extends 'index-layout.twig' %}
{% block content %}

    <div id="main-container">
        {#<div id="breadcrumb">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index-2.html"> Home</a></li>
                <li class="active">Blank page</li>
            </ul>
        </div><!-- breadcrumb -->#}

        <h1>Welcome</h1>



    </div><!-- /main-container -->

{% endblock %}

{% block csstop %}
{% endblock %}